.TableMockBasic{
  &-title{
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
  }
  &-content{
    display: flex;
    flex-wrap: wrap;
    p{
      margin-right: 48px;
      font-size: 16px;
    }
  }
}
